/*@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700);*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);

:root {
    --bg-dark: #303030;
    --fg-light: #7c7473;
    --fg-highlight: #c17a6c;
}

html {
    height: 100%;
}

body {
    background: var(--bg-dark);
    color: var(--fg-light);
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.container {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title {
    /* border-bottom: 1px solid var(--fg-highlight); */
    display: block;
    margin: 0;
    padding-bottom: 10px;
    width: 400px;
}

.links {
    padding: 0 10px;
    width: 400px;
}

.name {
    display: inline-block;
    font-size: 1.2rem;
    margin: 0;
    text-transform: lowercase;
    width: 75px;
}

.row {
    border-top: 1px solid var(--fg-highlight);
    color: var(--fg-highlight);
    padding: 10px 5px;
    transition: 0.5s;
}

.row:hover {
  color: #f0f0f0;
}

.row a {
    display: inline-block;
    padding: 0 0.5rem;
    transition: 0.5s;
}

.row a,
.row a:visited {
    color: var(--fg-light);
    text-decoration: none;
}

.row a:hover {
  color: #f0f0f0;
}
