<template>
  <div id="app">
    <div class="navigation">
      <span class="oi menu-handle" data-glyph="menu" @click="toggleMenu"></span>
    </div>
    <nav class="nav-menu" :class="{show: showMenu}">
      <ul>
        <li v-for="(link, index) in links" :key="index">
          <a :href="link.href">{{ link.name }}</a>
        </li>
      </ul>
    </nav>
    <div class="welcome">
      {{ time }}
      <div class="time-of-day">Good {{ timeOfDay }}!</div>
    </div>
    <div class="search">
        <input
          type="text"
          placeholder="search ..."
          v-model="input"
          @keyup.enter="search">
    </div>
    <div class="scratch">
      <textarea placeholder="scratch pad"></textarea>
    </div>
  </div>
</template>

<script>
export default {
  name: "app",
  data() {
    return {
      showMenu: false,
      time: '',
      links: [
        { name: 'goggle', href: 'https://google.com' },
        { name: 'mdn', href: 'https://developer.mozilla.org/en-US/' },
        { name: 'devdocs', href: 'https://devdocs.io' },
        { name: 'reddit', href: 'https://reddit.com' }
      ],
      input: ''
    };
  },
  methods: {
    toggleMenu() {
      this.showMenu = !this.showMenu;
    },
    updateTime() {
      let am = true;
      let date = new Date();
      let hours = date.getHours();
      let minutes = date.getMinutes();
      if (hours === 0) {
        hours = 12;
      } else if (hours >= 12) {
        am = false;
        if (hours > 12) hours = hours - 12;
      }

      minutes = `0${minutes}`.slice(-2);

      if (date.getSeconds() % 2 === 0) {
        this.time = `${hours} ${minutes} ${am ? 'am' : 'pm'}`;
      } else {
        this.time = `${hours}:${minutes} ${am ? 'am' : 'pm'}`;
      }
    },
    search() {
      window.location.href = `https://duckduckgo.com/?q=${this.input}`;
    }
  },
  computed: {
    timeOfDay() {
      let hours = new Date().getHours();
      if (hours >= 0 && hours < 12) {
        return 'Morning';
      } else if (hours >= 12 && hours < 17) {
        return 'Afternoon';
      }
      return 'Evening';
    }
  },
  created() {
    this.updateTime();
    this._interval = setInterval(this.updateTime, 1000);
  },
  beforeDestroy() {
    clearInterval(this._interval);
  }
};
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Roboto+Condensed|Shadows+Into+Light');

@import url('../node_modules/open-iconic/font/css/open-iconic.min.css');

* {
  box-sizing: border-box;
}

html {
  background-color: #424f59;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Roboto Condensed';
}

.app {
  height: 100%;
  postion: relative;
}

.navigation {
  position: relative;
  background-color: #2f3940;
  width: 100%;
  height: 50px;
}

.nav-menu {
  position: absolute;
  top: 50px;
  bottom: 0;
  background-color: #2f3940;
  width: 0;
  overflow: hidden;
  transition: 0.5s width;
}

.nav-menu.show {
  width: 200px;
}

.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul li {
  border-bottom: 1px solid #858d93;
}

.nav-menu ul li:last-of-type {
  border-bottom: none;
}

.nav-menu a {
  display: block;
  padding: 10px;
  color: #858d93;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-menu a:hover,
.menu-handle:hover {
  color: #9ca6ad;
  font-weight: bold;
}

.menu-handle {
  position: absolute;
  display: block;
  font-size: 1.5rem;
  padding: 10px;
  color: #858d93;
  cursor: pointer;
}

.welcome {
  font-family: 'Roboto Condensed';
  text-align: center;
  font-size: 3rem;
  margin-top: 15%;
  color: #858d93;
}

.time-of-day {
  font-family: 'Shadows Into Light';
  font-size: 1.5rem;
}

.search,
.scratch {
  width: 300px;
  margin: 0 auto;
}

.scratch {
  width: 400px;
  margin-top: 20px;
}

.search input {
  display: block;
  background-color: #2f3940;
  border: none;
  height: 40px;
  width: 50%;
  margin: 0 auto;
  border-radius: 6px;
  padding: 4px 10px 1px;
  font-size: 1.2rem;
  color: #acb8bf;
  opacity: 0.5;
  transition: 0.2s width;
}

.search input:hover {
  opacity: 1;
}

.search input:focus {
  width: 100%;
  outline: none;
  opacity: 1;
}

.scratch textarea {
  font-family: 'Roboto Condensed';
  font-size: 1rem !important;
  background-color: #2f3940;
  border: none;
  height: 100px;
  width: 100%;
  border-radius: 5px;
  padding: 4px 10px 1px;
  font-size: 1.2rem;
  color: #acb8bf;
  opacity: 0.2;
  outline: none;
  transition: 0.5s all;
}

.scratch textarea:hover,
.scratch textarea:focus {
  height: 200px;
  opacity: 1;
}
</style>
